<div class="columns has-text-centered">
  <div class="column is-full">
    Our blog has <%= Article.public_count %> articles and counting!
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= render 'articles/table'%>
  </div>
</div>


<div class="columns is-full has-text-right">
  <div class="column">
      <%= link_to "New Article", new_article_path, class:"button is-info is-outlined"%>
  </div>
</div>
