// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@import "~bulma/bulma";
@import "~stylesheets/animation";

.border-top{
  border-top: 2px solid #f5f5f5;
}

.cursor-shadow {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.container-with-shade:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pb-edit {
    padding-bottom: 18rem !important;
}
